<!DOCTYPE html>
<html lang="ja">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>

<head>
    <title>flaskテスト</title>
    <script src="/static/js/tailwind.js"></script>
</head>

<body class="bg-gray-100 dark:bg-zinc-950 dark:text-white">
    <div class="my-8 mx-8 md:mx-auto max-w-3xl">
        <div class="border-gray-300 border p-2 rounded-md flex gap-2 mb-4 fixed top-0 left-0 right-0 backdrop-blur-sm max-w-3xl mx-auto mt-4">
            <a href="{{ url_for('home') }}" class="text-blue-500">投稿一覧</a>
            <div class="border-gray-300 border-l"></div>
            {% if current_user.is_authenticated %}
            <p class="text-gray-500">{{ current_user.username }}としてログイン中</p>
            <div class="border-gray-300 border-l"></div>
            <a href="{{ url_for('logout') }}" class="text-gray-500 dark:text-white">ログアウト</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-gray-500 dark:text-white">ログイン</a>
            <div class="border-gray-300 border-l"></div>
            <a href="{{ url_for('signup') }}" class="text-gray-500 dark:text-white">新規登録</a>
            {% endif %}
        </div>
        <div class="mt-20">
            {% block content %}
            {% endblock %}
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2 text-center border border-gray-300 rounded-md p-2 m-4 bottom-0 left-0 right-0 backdrop-blur-sm max-w-3xl mx-auto fixed">
            <a href="{{ url_for('home') }}" class="bg-blue-500/30 rounded-md text-white shadow py-3">ホーム</a>
            <a href="{{ url_for('friend') }}" class="bg-blue-500/30 rounded-md text-white shadow py-3">フレンド</a>
            <a href="{{ url_for('schedule') }}" class="bg-blue-500/30 rounded-md text-white shadow py-3">時間割</a>
            <a href="{{ url_for('aboutme') }}" class="bg-blue-500/30 rounded-md text-white shadow py-3 text-sm">アバウトミー</a>
        </div>
    </div>
</body>

</html>