{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold p-4">{{ post.title }}</h1>
<div class="border-t border-gray-300"></div>
<p class="p-4">{{ post.content }}</p>
<div class="border-t border-gray-300"></div>
<p class="px-4 py-2 text-sm text-gray-500">{{ post.created_at }}</p>
<div class="border-t border-gray-300"></div>
<p class="px-4 py-2 text-sm text-gray-500">{{ user.username }}</p>
{% if post.user_id==session.get("user_id") %}
<form action="{{ url_for('delete', post_id=post.id) }}" method="post">
    <button type="submit" class="bg-red-500 text-white px-8 py-2 rounded-md m-4">削除</button>
</form>
{% endif %}

{% endblock %}