{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold">時間割</h1>
<div class="">
    <div class="bg-white dark:bg-zinc-900 rounded-md p-2 border border-gray-300 overflow-scroll">
        <p class="text-center text-xl">春学期</p>
        <table class="border border-gray-300 rounded-md overflow-scroll">
            <thead>
                <tr class="border border-gray-300 rounded-md ">
                    <th class="border border-gray-300 rounded-md "></th>
                    <th class="border border-gray-300 rounded-md ">月</th>
                    <th class="border border-gray-300 rounded-md ">火</th>
                    <th class="border border-gray-300 rounded-md ">水</th>
                    <th class="border border-gray-300 rounded-md ">木</th>
                    <th class="border border-gray-300 rounded-md ">金</th>
                    <th class="border border-gray-300 rounded-md ">土</th>
                </tr>
            </thead>
            <tbody class="border border-gray-300 rounded-md  text-center">
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">1限</th>
                    <td class="border border-gray-300 rounded-md "><a href="" class="text-blue-500">追加</a></td>
                    <td class="border border-gray-300 rounded-md "><a href="" class="text-blue-500">追加</a></td>
                    <td class="border border-gray-300 rounded-md "><a href="" class="text-blue-500">追加</a></td>
                    <td class="border border-gray-300 rounded-md "><a href="" class="text-blue-500">追加</a></td>
                    <td class="border border-gray-300 rounded-md "><a href="" class="text-blue-500">追加</a></td>
                    <td class="border border-gray-300 rounded-md "><a href="" class="text-blue-500">追加</a></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">2限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">3限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">4限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">5限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">6限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
            </tbody>
        </table>
        <p class="text-center">集中・その他</p>
        <div class="border border-gray-300 rounded-md min-h-20">
        </div>
    </div>
    <div class="bg-white dark:bg-zinc-900 rounded-md p-2 border border-gray-300 mt-2 overflow-scroll">
        <p class="text-center text-xl">秋学期</p>
        <table class="border border-gray-300 rounded-md w-full">
            <thead>
                <tr class="border border-gray-300 rounded-md ">
                    <th class="border border-gray-300 rounded-md "></th>
                    <th class="border border-gray-300 rounded-md ">月</th>
                    <th class="border border-gray-300 rounded-md ">火</th>
                    <th class="border border-gray-300 rounded-md ">水</th>
                    <th class="border border-gray-300 rounded-md ">木</th>
                    <th class="border border-gray-300 rounded-md ">金</th>
                    <th class="border border-gray-300 rounded-md ">土</th>
                </tr>
            </thead>
            <tbody class="border border-gray-300 rounded-md  text-center">
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">1限</th>
                    <td class="border border-gray-300 rounded-md "><a href="" class="text-blue-500">追加</a>
                        <p class="text-sm">【F401】Topics in Japanese Literature: History of Japanese Literature in Translation</p>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                    </td>
                    <td class="border border-gray-300 rounded-md ">
                        <a href="" class="text-blue-500">追加</a>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                    </td>
                    <td class="border border-gray-300 rounded-md ">
                        <a href="" class="text-blue-500">追加</a>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                    </td>
                    <td class="border border-gray-300 rounded-md ">
                        <a href="" class="text-blue-500">追加</a>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                    </td>
                    <td class="border border-gray-300 rounded-md ">
                        <a href="" class="text-blue-500">追加</a>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                    </td>
                    <td class="border border-gray-300 rounded-md ">
                        <a href="" class="text-blue-500">追加</a>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                        <p class="text-[8px]">授業の名前aaaaaaaaaaa</p>
                    </td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">2限</th>
                    <td class="border border-gray-300 rounded-md ">
                        <p class="text-sm">[F401]Topics in Japanese Literature: History of Japanese Literature in Translation</p>
                    </td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">3限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">4限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">5限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
                <tr class="border border-gray-300 rounded-md ">
                    <th scope="row" class="border border-gray-300 rounded-md ">6限</th>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                    <td class="border border-gray-300 rounded-md "></td>
                </tr>
            </tbody>
        </table>
        <p class="text-center">集中・その他</p>
        <div class="border border-gray-300 rounded-md min-h-20">
        </div>
    </div>
    <div class="bg-white dark:bg-zinc-900 rounded-md p-2 border border-gray-300 mt-2">
        <p class="text-center text-xl">「春学期」・「秋学期」に分類されないもの</p>
        <div class="border border-gray-300 rounded-md min-h-20">
        </div>
    </div>
    <div class="mb-40"></div>
</div>
<div
    class="grid grid-cols-2 md:grid-cols-4 ga text-center border border-gray-300 rounded-md p-2 m-4 bottom-0 left-0 right-0 backdrop-blur-sm max-w-3xl mx-auto fixed gap-2">
    <a href="{{ url_for('home') }}" class="bg-blue-500/30 rounded-md text-white shadow py-3">ホーム</a>
    <a href="{{ url_for('friend') }}" class="bg-blue-500/30 rounded-md text-white shadow py-3">フレンド</a>
    <a href="{{ url_for('schedule') }}" class="bg-blue-500/60 rounded-md text-white shadow py-3">時間割</a>
    <a href="#" class="bg-blue-500/30 rounded-md text-white shadow py-3 text-sm">アバウトミー</a>
</div>
{% endblock %}