{% extends "base.html" %}

{% block content %}
<h1 class="text-2xl font-bold">時間割</h1>
<div class="">
    <div class="bg-white dark:bg-zinc-900 rounded-md p-2 border border-gray-300 overflow-scroll">
        <p class="text-center text-xl">春学期</p>
        <table class="border border-gray-300 rounded-md overflow-scroll">
            <thead>
                <tr class="border border-gray-300 rounded-md">
                    {% for i in ["","月","火","水","木","金","土"] %}
                    <th class="border border-gray-300 rounded-md">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="border border-gray-300 rounded-md text-center">
                {% for time in range(1,7) %}
                    <tr class="border border-gray-300 rounded-md ">
                        <th scope="row" class="border border-gray-300 rounded-md ">{{time}}限</th>
                        {% for day in ['月','火','水','木','金','土'] %}
                        <td class="border border-gray-300 rounded-md p-2">
                            <a
                                href="{{url_for('classes',season='spring',time=time,day=day,department=user.department)}}"
                                class="rounded-md bg-blue-500 text-white px-2 py-1">追加</a> 
                            {% for class in classes %}
                            {% if class.time==time and class.day==day and class.is_spring==True%}
                            <a href="{{url_for('class_detail',class_id=class.id)}}" class="text-blue-500 block">{{class.name}}</a>
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="text-center">集中・その他</p>
        <div class="border border-gray-300 rounded-md min-h-20 w-full p-2">
            <a href="{{url_for('classes',season='spring',time=-10,department=user.department)}}" class="rounded-md text-white bg-blue-500 px-2 py-1">追加</a>
            {% for class in classes %}
            {% if class.time==-10 and class.is_spring==True %}
            <a href="{{url_for('class_detail',class_id=class.id)}}" class="text-blue-500 block">{{class.name}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="bg-white dark:bg-zinc-900 rounded-md p-2 border border-gray-300 mt-2 overflow-scroll">
        <p class="text-center text-xl">秋学期</p>
        <table class="border border-gray-300 rounded-md overflow-scroll">
            <thead>
                <tr class="border border-gray-300 rounded-md ">
                    {% for i in ["","月","火","水","木","金","土"] %}
                    <th class="border border-gray-300 rounded-md">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="border border-gray-300 rounded-md text-center">
                {% for i in range(1,7) %}
                    <tr class="border border-gray-300 rounded-md ">
                        <th scope="row" class="border border-gray-300 rounded-md ">{{i}}限</th>
                        {% for day in ['月','火','水','木','金','土'] %}
                            <td class="border border-gray-300 rounded-md p-2">
                            <a href="{{url_for('classes',season='autumn',time=i,day=day,department=user.department)}}"
                                    class="rounded-md bg-blue-500 text-white px-2 py-1">追加</a>
                            {% for class in classes %}
                            {% if class.time==i and class.day==day and class.is_autumn==True%}
                            <a href="{{url_for('class_detail',class_id=class.id)}}" class="text-blue-500 block">{{class.name}}</a>
                            {% endif %}
                            {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="text-center">集中・その他</p>
        <div class="border border-gray-300 rounded-md min-h-20 w-full p-2">
            <a href="{{url_for('classes',season='autumn',time=-10,department=user.department)}}" class="rounded-md bg-blue-500 text-white px-2 py-1">追加</a>
            {% for class in classes %}
            {% if class.time==-10 and class.is_autumn==True %}
            <a href="{{url_for('class_detail',class_id=class.id)}}" class="text-blue-500 block">{{class.name}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="bg-white dark:bg-zinc-900 rounded-md p-2 border border-gray-300 mt-2">
        <p class="text-center text-xl">「春学期」・「秋学期」に分類されないもの</p>
        <div class="border border-gray-300 rounded-md min-h-20 w-full p-2">
            <a href="{{url_for('classes',season='other',department=user.department)}}" class="text-white bg-blue-500 px-2 py-1 rounded-md">追加</a>
            {% for class in classes %}
            {% if class.time==-10 and class.is_autumn==False and class.is_spring==False%}
            <a href="{{url_for('class_detail',class_id=class.id)}}" class="text-blue-500 block">{{class.name}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mb-40"></div>
</div>
{% endblock %}